@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WCF security sample</h1>
    <h3>@ViewBag.Message</h3>
    <p>
        <!--<a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>-->
        <form action="/home/doauthenticate" method="POST">
            <input class="form-control" type="text" id="userName" name="userName" placeholder="User Name" />
            <input class="form-control" type="password" id="password" name="password" placeholder="Password"/>
            <input value="Do Authenticate" class="btn btn-primary" type="submit" />
        </form>
    </p>
    
</div>